{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="example-wrapper">
    <h1>Amis Alumnis, Aidez-moi !✅</h1>
</div>


<section class="posts">

{% for post in posts %}
    <div class="card mb-5 pb-2">
        <div class="card-header">
            <h2>{{ post.titre }}</h2>
        </div>
        <div class="card-body">
            <h3 class="card-title">Ecrit le {{ post.date | date('d/m/Y')}} à {{ post.date | date('H:i')}} par MachinChose</h3>
            <p class="card-text">{{ post.contenu }}</p>
            <a href="{{ path('help_show', {'id':post.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </div>
{% endfor %}


</section>
{% endblock %}